/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";



.apple_pagination {
	background: none;
	border: 0px;
	text-align: center;
	padding: 1em;
	cursor: default; 
	color: white;
}
.apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; 
    color: white;
}
.apple_pagination .disabled {
    color: white; 
    display: none;
}
.apple_pagination .current {
    color: #a6bfff;
    font-style: normal;
    font-weight: bold;
    background-color: none;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}
.apple_pagination a {
    text-decoration: none;
    color: white;
}
.apple_pagination a:hover, .apple_pagination a:focus {
     color: white;
     text-decoration: none; 
     background: none !important;
}
#banner {
  background-image: url(banner3.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin-top: 120px;
	height: 350px;
}





body {
	background-color: #202020;
}


h1, h2, h3, h4, h5 {
	color: white;
}


a {
	color: white
}
a:hover {
	text-decoration: none;
	color: grey;
}
button.accordion {
    background-color: #3b3b3b;
    color: white;
    cursor: pointer;
    padding: 18px 18px 18px 45px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 3px solid #202020;
}
button.accordion.active, button.accordion:hover {
    background-color: #5e5e5e;
}
div.panel {
    padding: 0px;
    background-color: white;
    display: none;
    margin: 0px;
	border-radius: 0px;
	border: 0px;
	border-bottom: 3px solid #202020;
}
.index_sidebar {
	background-color: none;
	padding: 0px;
	padding-top: 80px;
}

.sidebar_lesson {
	background-color: #323232;
	color: white !important;
	margin: 0px;
	transition: 0.4s;
	padding: 20px 20px 20px 65px !important;
	width: 100%;
	border: 0px;
	text-align: left;
}
.sidebar_lesson:hover, .sidebar.active, .sidebar_lesson:focus {
	background-color: #272727;
	outline:0;
}

.title {
	padding: 0px 0px 20px 0px;
	margin: 0px;
}





.form_top {
	margin-top: 120px !important;
}
.index_post_container {
	margin-bottom: 100px;
	margin-top: 60px;
}
.index_sidebar {
	margin-bottom: 100px;
	margin-top: 10px;
}
.light {
	font-weight: 100;
}

.navbar {
	position: fixed;
	width: 100%;
	z-index: 5;
}
nav {
	background-color: black !important;
	border: black !important;
	border-radius: 0px !important;
	padding: 10px;
	.icon-bar { 
		background-color: white !important;
	}
	a, h1, h2, h3, h4, h5, li, p {
		color: white !important;
	}
	li > a:hover {
		color: grey !important;
	}
}
.navbar-nav {
	margin-left: 20px;
}
.navbar-toggle {
	background-color: black !important;
	border: 0px;
}
.navbar-toggle:hover {
	background-color: black !important;
}
p {
	color: grey !important;
}
.post_sub {
	padding-top: 15px !important;
}
.post_button_container {
	padding-top: 15px !important;
}
.post_container {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.post_title {
	color: grey !important;
}
.show_container {
	padding-top: 110px;
	margin-bottom: 140px;
}
.white {
	color: white !important;
}
